*{
    border:  black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    width: 100%;
    background-color:#6495ED;  
    text-align: center;
    margin-bottom: 50px;
    border: 2px solid #FFD700;
    border-radius: 10px;
}
/**nav**/

nav li{
    display: inline-block;
    width: 15%;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
   
}
ul a{
    padding: 5px;
    color: white;
    text-decoration: none;
    
   
}
ul a:hover{
    color:#FFD700;
    cursor: pointer;
    transition: .3s;
    background-color: blue;
    border-radius: 10px;

}
/**titulos**/
h1,h2,h3{
    border-radius: 10px;
    background: #6495ED;
    width: 100%;
    padding: 5px;
}
em.destacado{
    font-weight: bold;
}

/**riesgos**/
.contenedor_riesgos{
    display: flex;
    flex-direction: column;

}
.riesgos h1{
    text-align: center;
    color: #FFD700;
    text-transform: uppercase;
}
.riesgos_article h2{
    color: #000;

}
.contenedor2_riesgos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor2_riesgos img{
    width: 300px;
}

.contenedor2_riesgos article{
    width: 30%;
    margin-right: 30px;

}
.riesgos{
    margin-bottom: 100px;
}

/**daños**/

.contenedor_daños{
    display: flex;
    flex-direction: row;
    
}
.contenedor_daños article{
    width: 30%;
    margin: 10px;
}

.daños h2{
    width: 95%;
}
.daños h1{
    color: #000;
    padding: 10px;
    font-size:larger;
    width: 95%;
    
}
.daños{
    margin-left: 15px;
    margin-bottom: 100px;
}

/** Footer**/
footer{
    position: absolute;
    display: flex;
    justify-content:space-around;
    width: 100%;
    font-size: small;
    align-items: first baseline;
    background-color: #6495ED
}
.iconoRedSocial{
    display: flex;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}
.icon {
    margin: 10px;
    transition: 0,05s;
    display: inline-block;
}
.icon:hover{
    transform: translateY(-10px);
}